@CHARSET "UTF-8";

#current {
	width: 90%;
	border-collapse: collapse;
	font-family: Arial;
	font-size: small;
}

#previous {
	width: 90%;
	border-collapse: collapse;
	font-family: Arial;
	font-size: small;
}

table input[type=button] {
	font-family: Arial;
	font-size: small;
}

th {
	height: 22px;
	background-color: rgba(255, 204, 0, 1.0);
	color: rgba(0, 0, 0, 1.0);
}

th, td {
	text-align: center;
	border-bottom: 1px solid rgba(166, 166, 166, 1.0);
}

tr:nth-child(even) {
	background-color: rgba(203, 203, 203, 1.0);
}

#home {
	margin-top: 12px;
}

#previous tr:nth-child(1) {
	height: 22px;
}

#previous tr {
	height: 29px;
}