@CHARSET "UTF-8";

.extent {
	overflow: hidden;
}

.extent input[type=button] {
	margin-top: 12px;
}

#confirmreservation {
	float: right;
}

#reservation {
	width: 90%;
	border-collapse: collapse;
	font-family: Arial;
	font-size: small;
}

th {
	height: 22px;
	background-color: rgba(255, 204, 0, 1.0);
	color: rgba(0, 0, 0, 1.0);
}

#reservation th, td {
	text-align: center;
	border-bottom: 1px solid rgba(166, 166, 166, 1.0);
}

#reservation tr:nth-child(1) {
	height: 22px;
}

#reservation tr {
	height: 29px;
}

#payhere {
	width: 580px;
}

#payhere td {
	border: 0px;
}