@CHARSET "UTF-8";

.extent input[type=button] {
	margin-top: 12px;
}

table {
	width: 90%;
	border-collapse: collapse;
	font-family: Arial;
	font-size: small;
}

th {
	height: 22px;
	background-color: rgba(255, 204, 0, 1.0);
	color: rgba(0, 0, 0, 1.0);
}

th, td {
	border-bottom: 1px solid rgba(166, 166, 166, 1.0);
	text-align: center;
}

tr:nth-child(even) {
	background-color: rgba(203, 203, 203, 1.0);
}

#allrecord tr:nth-child(1) {
	height: 22px;
}

#allrecord tr {
	height: 29px;
}